.table__wrapper{
    margin-top: 20px;

        .table__wrapper__inner {
            display: flex;

                .table {
                    border-collapse: collapse;
                    flex-grow: 1;
                    margin-right: 20px;
        
                    .table__row--selected {
                        background-color: lightsalmon;    
                    }
                    
                    .table__cell {
                        border: 1px solid black;
                    }
                }
        }

        tbody tr:hover {
            background-color: lightsalmon;        
            cursor: pointer;
        }
}