.table__wrapper{
    
    .table {
        border-collapse: collapse;

        .table__row {

        }

        .table__row--selected {
            background-color: lightsalmon;    
        }
        
        .table__cell {
            border: 1px solid black;
        }
    }

    tbody tr:hover {
        background-color: lightsalmon;        
        cursor: pointer;
    }
}